/* votre code CSS */

header {
  color: black;
  font-size: xx-large;
  height: 50px;
}

.all {
  margin-left: 35%;
  width: 30%;
}

.research {
  display: flex;
  justify-content: center;
  color: brown;
}

.icon {
  display: flex;
  justify-content: center;
  color: brown;
  justify-content: space-around;
}


#mapid {
  height: calc(100vh - 150px);
  width: 100%;
}